<ul class="list-group">
	<a class="list-group-item {{#if introduction}}active{{/if}}" href="/introduction">Introduction</a>
	<a class="list-group-item {{#if database}}active{{/if}}" href="introduction">The Platform</a>	
</ul>

<ul class="list-group">
	<a class="list-group-item {{#if introduction}}active{{/if}}" href="/introduction">Specifications</a>
	<a class="list-group-item {{#if database}}active{{/if}}" href="introduction">Installation Instructions</a>	
	<a class="list-group-item {{#if database}}active{{/if}}" href="introduction">Third Party Integration</a>	
	<a class="list-group-item {{#if database}}active{{/if}}" href="introduction">Payment Integration</a>	
	<a class="list-group-item {{#if database}}active{{/if}}" href="introduction">CSS Managmenet</a>	
	<a class="list-group-item {{#if database}}active{{/if}}" href="introduction">Troubleshooting</a>	
	<a class="list-group-item {{#if license}}active{{/if}}" href="license">License</a>	

</ul>

<ul class="list-group">
	<a class="list-group-item {{#if billing}}active{{/if}}" href="/billing">Billing</a>
	<a class="list-group-item {{#if contribute}}active{{/if}}" href="/contribute">Contribute</a>
</ul>         

<ul class="list-group">
	<a class="list-group-item {{#if terms}}active{{/if}}" href="/terms">Terms</a>
	<a class="list-group-item {{#if privacy}}active{{/if}}" href="/privacy">Privacy</a>
</ul>   