<style type="text/css">
.awesome {
	padding: 2px;
	text-align:center;
	border-radius: 5px;
	background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
}
</style>
<h1>An Introduction</h1>
<hr>
<div class="row">
	<div class="col-md-3">
		{{> navigation introduction=true}}
	</div>
	<div class="col-md-9">
		<h1>
			{{sitename}} has been designed for Engineers in the Southern African mining sector. 
		</h1>
		<div class="row">
			<div class="col-md-6" >
				<h3><i class="fa fa-database "></i>   Database.</h3>
				<p class="text-muted">The database stores common information sets for conveyor design. Each item is effectively a unique discrete element of a conveyor system, from a glossary term to a belt class.</p>
			</div>
			<div class="col-md-6" >
				<h3><i class="fa fa-cog" aria-hidden="true"></i>  Components.</h3>
				<p class="text-muted">Combine discrete elements of the database into modular components. These datasets can be anything from supply contracts to typical pulleys.</p>
			</div>
			<div class="col-md-6" >
				<h3><i class="fa fa-shopping-cart" aria-hidden="true"></i>  Shop.</h3>
				<p class="text-muted">Incorporate O.E.M gear into your conveyor design using equipment components.</p>
			</div>
			<div class="col-md-6" >               
				<h3><i class="fa fa-cogs" aria-hidden="true"></i>  Assemblies.</h3>
				<p class="text-muted">Assemblies are user created combinations of Components on the site. Create or copy a new conveyor assembly swapping and changing components or O.E.M equipment to build your design.</p>
			</div>
		</div>
	</div>
</div>

